<div class="m-form">
    <form name="" method="post">
        <fieldset>
            <div class="formitm">
                <label class="lab">分类名称：</label>
                <div class="ipt">
                     <input type="text" class="u-ipt" ng-model="classes.name"/>
                </div>
            </div>
        </fieldset>
    </form>   

    <div class="formitm formitm-1"><button class="u-btn" type="button" ng-click="opt(classes)">{{optname}}</button> <a href="#/classes"><button class="u-btn" type="button">返回</button></a></div>
</div>