<div ng-controller="tel2Ctrl">
<div class="g-bd g-bd3">
<div class="m-selbox">
<div class="f-cb">
	<div class="f-fl"><h2>请选择工种：</h2></div>
	<div class="f-fl"><select ng-model="q" ng-options="s as s for s in sort" ng-change="pageChanged()"><option value="">---类型---</option></select></div>
</div>
<div class="f-cb">
	<div class="f-fl"><h2>请选择地区：</h2></div>
	<div class="f-fl"><select ng-model="q2" ng-options="s2 as s2 for s2 in sort2" ng-change="pageChanged()"><option value="">---地区---</option></select></div>
</div>
</div>
<div class="f-cb">
	<div ng-repeat="d in pagedItems">
	<div class="u-box f-fl" ng-class="{last:($index+1)%3==0}" ng-mouseenter="telbg=true" ng-mouseleave="telbg=false">
		<div class="telpos" ng-show="telbg"><a href="tel:{{d.tel}}"><div class="telbg"><div class="u-tel a-swing"></div></div></a></div>
		<div class="pos">
			<h2>{{d.title}}</h2>
			<div class="u-starpos">
				<div class="u-star{{d.star}}"></div>
			</div>
			<div class="bk10"></div>
			<div class="maxdiv">
				<img ng-src="{{d.imgSrc}}" />
			</div>
		</div>
	</div>
	<div ng-class="{'f-cb':($index+1)%3==0}"></div>
</div>
</div>
</div>

<div class="bk10"></div>
<nav class="m-page">
    <a class="z-crt" ng-repeat="d in arr" ng-click="changePage(d)">{{d}}</a>
</nav>
</div>
