{{include './public/header'}}
{{include './public/mheader'}}
			<div class="u-bgt">
				<div class="g-bd2 f-cb">
					<span>{{data.title}}</span>
				</div>
			</div>
			<div class="g-bd g-bd3">
				<div class="ftb">
				<div class="ftb1">
					<p>{{#data.desc}}</p>
				</div>
				<div class="ftb2">
				<!-- <div class="u-box2"><img src="{{data.imgSrc}}" /></div>
				<div class="bk10"></div>
				<div class="f-tac">{{'更新日期：'+data.date.getFullYear()+'-'+data.date.getMonth()+1+'-'+data.date.getDate()}}</div> -->
				<div>{{#data.content}}</div>
				</div>
				<div class="bk10"></div>
				<nav class="m-page">
					{{if pre=='' }}
				    	<a href="#" class="pageprv z-dis">无</a>
				    {{else}}
				    	<a href="/material/tlp/find/{{pre.id}}" class="pageprv">{{pre.title}}</a>
				    {{/if}}

				    {{if next=='' }}
				    	<a href="#" class="pageprv z-dis">无</a>
				    {{else}}
				    	<a href="/material/tlp/find/{{next.id}}" class="pagenxt">{{next.title}}</a>
				    {{/if}}
				</nav>
			</div>
		</div>
			<div class="bk30"></div>
		</div>
	</div>
{{include './public/footer'}}