{{include './public/header'}}
{{include './public/mheader'}}
			<div class="u-bgt">
				<div class="g-bd2 f-cb">
					<div class="u-btn3 f-fl"></div>
					<div class="st f-fl"><span>高端建材</span></div>
				</div>
			</div>
			<div ng-app="myAppList">
				<div ng-view></div>
			</div>
			<div class="bk30"></div>
		</div>
	</div>
<script src="/js/lib/angular/angular.js"></script>
<script src="/js/lib/angular-route/angular-route.js"></script>
<script src="/js/aj2/app.js"></script>
<script src="/js/aj2/material/material.js"></script>
{{include './public/footer'}}