{{include './public/header'}}
{{include './public/mheader'}}
<div class="u-bgt">
				<div class="g-bd2 f-cb">
					<div class="u-btn3 f-fl"></div>
					<div class="st f-fl"><span>咨询师傅</span></div>
				</div>
			</div>
			<div class="g-bd g-bd3" ng-app="myAppList2">
				<div ng-view></div>
			</div>
			<div class="bk30"></div>
		</div>
	</div>
<script src="/js/lib/angular/angular.js"></script>
<script src="/js/lib/angular-route/angular-route.js"></script>
<script src="/js/aj2/app.js"></script>
<script src="/js/aj2/tel/tel.js"></script>
{{include './public/footer'}}