	<div class="m-form" ng-controller="design2Ctrl">
	    <form name="" method="post">
	        <fieldset>
	            <legend>{{optname}}数据</legend>
	            <div class="formitm">
	                <label class="lab">标题：</label>
	                <div class="ipt">
	                    <input type="text" class="u-ipt" ng-model="design.mtitle"/>
	                </div>
	            </div>
	        </fieldset>
	    </form>
	    <div class="formitm formitm-1"><button class="u-btn" type="button" ng-click="opt(design)">{{optname}}</button> <a href="#/design"><button class="u-btn" type="button">返回</button></a></div>
	</div>