<div class="m-form" ng-controller="material3Ctrl">
	<div class="g-bd g-bd3">
		<div class="m-selbox2">
			<form name="" method="post">
				<h1>建材免费推广</h1>
				<div >
					<div><h2>经营品牌：</h2></div>
					<div><input type="text" class="form-control" ng-model="material.title"/></div>
				</div>
				<div >
					<div><h2>品牌介绍：</h2></div>
					<div><textarea class="form-control textarea" rows="10" ng-model="material.introduction"></textarea></div>
				</div>
				<div>
					<div ><h2>品牌分类：</h2></div>
					<div>
						<select class="form-control" ng-model="material.classes" ng-options="s._id as s.name for s in sort">
							<option value="">-- 选择品牌 --</option>
						</select>
					</div>
				</div>
				<div>
					<div><h2>联系电话：</h2></div>
					<div><input type="text" class="form-control" ng-model="material.tel"/></div>
				</div>
				<div>
					<div><h2>店铺地址：</h2></div>
					<div><input type="text" class="form-control" ng-model="material.address"/></div>
				</div>
				<div>
					<div><h2>品牌logo：</h2></div>
					<div>
						<span ng-repeat="pic in picArr">
							<img src="{{pic}}" />
						</span>
						<span class="btn btn-default btn-file">
							<img ng-model="material.imgSrc" ng-src="{{imgSrc}}"/>
							<input type="file" ng-file-model="obj.testFile" accept="image/*"/>
						</span>
						<p ng-show="show">正在上传中...</p>
						<input type="submit" value="上传" class="btn btn-default" ng-click="submit(obj)">
					</div>
				</div>
				<button type="button" class="btn btn-submit" ng-click="opt(material)">免费推广</button>
			</form>
		</div>
	</div>
</div>