	<div class="m-form" ng-controller="company2Ctrl">
	    <form name="" method="post">
	        <fieldset>
	            <legend>{{optname}}数据</legend>
	            <div class="formitm">
	                <label class="lab">公司名：</label>
	                <div class="ipt">
	                    <input type="text" class="u-ipt" ng-model="company.title"/>
	                </div>
	            </div>
	            <div class="formitm">
	                <label class="lab">星级：</label>
	                <div class="ipt">
	                    <input type="number" class="u-ipt" min="0" max="5" ng-model="company.star"/>
	                </div>
	            </div>
	            <div class="formitm">
	                <label class="lab">描述：</label>
	                <div class="ipt">
	                   <text-angular ng-model="company.desc"></text-angular>
	                </div>
	            </div>
	            <div class="formitm">
	                <label class="lab">内容：</label>
	                <div class="ipt">
	                    <text-angular ng-model="company.content"></text-angular>
	                </div>
	            </div>
	        </fieldset>
	    </form>

	    <form ng-submit="submit(obj)">
			<div class="formitm">
		   		<label class="lab">缩略图：</label>
		        <div class="ipt">
		   			<input type="file" ng-file-model="obj.testFile" accept="image/*" />
		  			<input type="submit" value="upload">
		  			<img ng-model="company.imgSrc" ng-src="{{company.imgSrc}}"/>
		  		</div>
	    	</div>
    	</form>

	    <div class="formitm formitm-1"><button class="u-btn" type="button" ng-click="opt(company)">{{optname}}</button> <a href="#/company"><button class="u-btn" type="button">返回</button></a></div>
	</div>